.bg-container{
    background-image: url(' https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png');
    background-size: cover;
    height: 100vh;
}
.card{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}