.bg-container{
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.contant{
    margin-top:200px ;
}