.bg-container{
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png');
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    color: #5752ab;
}
.card-link{
    padding: 10px;
    margin-left: 70px;
    border:1px solid #5752ab;
    border-radius: 10px;
}
.card-title{
    font-weight: bold;
}
